@import "./ticketCard.scss";

.button-close {
  float: right;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.choosen-ticket-card {
  // border: 1px solid red;
  padding: 10px;
  text-align: start;
}

.content {
  padding-top: 20px;
}
