@import "./../index.scss";

.btn-label {
  height: auto;
  font-size: 1.15rem;
  line-height: 1.15rem;
  padding: 10px;
  text-align: center;
}

.index-page__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}

.header__label {
  font-size: 1.25rem;
}

.title {
  flex: 1 1 0%;
  text-align: start;
  font-size: 1.5rem;
  padding-left: 50px;
  font-weight: 900;
  margin-bottom: 0!important;
  word-break: keep-all;
}

.header-popup {
  background-color: antiquewhite;

  .popper__arrow::after {
    border-bottom-color: antiquewhite
  }
}
