@import "./components/ticketCard.scss";

.title-choose-passenger {
  font-size: 25px;
  text-align: left;
  padding: 10px 10px;
}

.passenger-card-list-container {
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  padding: 20px;
}

.card-title {
  justify-content: space-between;
}

.payment-container {
  width: 90%;
}

.flex-center {
  justify-content: center;

}

.payment-container-container {
  flex: 1;
  margin-top: 30px;
}

.btn__pay {
  padding-right: 50px;
  padding-bottom: 50px;
}

.selected {
  background-color: aquamarine;
}
